extends layout

block content
  div.row
    div.col-md-6
      div.row
        mixin section-box(12, 'Newspapers', 'newspapers')
      div#newspapers.row.newspapers
        div.col-md-12
          div.row
            - var i = 0
            each list, letter in links.news
              div.col-md-4.link-container
                div.header
                  div.letter-box= letter
                div.links
                  ul
                    each link in list
                      - var klass = (link.num_clicks > 5 ? 'popular' : '')
                      li(data-numclicks=link.num_clicks, class=klass)
                        a(href=link.url, id=link._id, target='_blank', rel='nofollow')= link.title

    div.col-md-5.col-md-offset-1
      div.row
        mixin section-box(12, 'Blogs', 'blogs')
        div#blogs
          div.row
            div.col-md-12.link-container
              div.links
                ul
                  each list, letter in links.blog
                    each link in list
                      - var klass = (link.num_clicks > 5 ? 'popular' : '')
                      li(data-numclicks=link.num_clicks, class=klass)
                        a(href=link.url, id=link._id, target='_blank', rel='nofollow')= link.title

      div#sports-radio-tv.row
        div.col-md-5
          div.row
            mixin section-box(12, 'Sports', 'sports')
            div#sports
              div.link-container
                div.links
                  ul
                    each list, letter in links.sport
                      each link in list
                        - var klass = (link.num_clicks > 5 ? 'popular' : '')
                        li(data-numclicks=link.num_clicks, class=klass)
                          a(href=link.url, id=link._id, target='_blank', rel='nofollow')= link.title
        div.col-md-6.col-md-offset-1
          div.row
            mixin section-box(12, 'Radio & TV', 'rtv')
            div#rtv
              div.link-container
                div.links
                  ul
                    each list, letter in links.radio_tv
                      each link in list
                        - var klass = (link.num_clicks > 5 ? 'popular' : '')
                        li(data-numclicks=link.num_clicks, class=klass)
                          a(href=link.url, id=link._id, target='_blank', rel='nofollow')= link.title
