extends layout

block content
  div.row
    div.span6
      div.row
        mixin section-box(6, 'Newspapers', 'newspapers')
      div#newspapers.row.newspapers
        div.span6
          div.row
            - var i = 0
            each list, letter in links.news
              div.span2.link-container
                div.header
                  div.letter-box= letter
                div.links
                  ul
                    each link in list
                      - var klass = (link.num_clicks > 5 ? 'popular' : '')
                      li(data-numclicks=link.num_clicks, class=klass)
                        a(href=link.url, id=link._id, target='_blank')= link.title

    div.span5.offset1
      div.row
        mixin section-box(5, 'Blogs', 'blogs')
        div#blogs
          div.span5.link-container
            div.links
              ul
                each list, letter in links.blog
                  each link in list
                    - var klass = (link.num_clicks > 5 ? 'popular' : '')
                    li(data-numclicks=link.num_clicks, class=klass)
                      a(href=link.url, id=link._id, target='_blank')= link.title

      div#sports-radio-tv.row
        div.span2
          div.row
            mixin section-box(2, 'Sports', 'sports')
            div#sports
              div.span2.link-container
                div.links
                  ul
                    each list, letter in links.sport
                      each link in list
                        - var klass = (link.num_clicks > 5 ? 'popular' : '')
                        li(data-numclicks=link.num_clicks, class=klass)
                          a(href=link.url, id=link._id, target='_blank')= link.title
        div.span3
          div.row
            mixin section-box(3, 'Radio & TV', 'rtv')
            div#rtv
              div.span3.link-container
                div.links
                  ul
                    each list, letter in links.radio_tv
                      each link in list
                        - var klass = (link.num_clicks > 5 ? 'popular' : '')
                        li(data-numclicks=link.num_clicks, class=klass)
                          a(href=link.url, id=link._id, target='_blank')= link.title
