include mixins/section-box

// minified
doctype html
html
  head
    title Gooyand
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    //- link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/font-awesome.css')
    link(rel='stylesheet', href='/css/font-awesome-ie7.css')
    link(rel='stylesheet', href='/css/gooyand.css')
    link(
      id="page_favicon",
      href="/favicon.ico",
      rel="icon",
      type="image/x-icon")

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Gooyand.com is a central listing of persian news outlets. It's an attempt for a clean remake of gooya.com")
    meta(name="author", content="Sasan Hezarkhani - Kousha Talebian")
  body
    div#wrap
      div#header.container
        div.row
          div#logo.col-md-10
            h1 Gooyand
            if beta
              sup beta
          div#social-links.col-md-2
            a(href="https://github.com/shezarkhani/gooyand", title="GitHub", rel='nofollow')
              i.icon-github
      div.container
        block content
      div#push
    div#footer
      div.container
        hr
        p.muted.credit
          | A remake of <a href="http://gooya.com" rel="nofollow">gooya.com</a> by Sasan Hezarkhani and Kousha Talebian <br />
          | Web should be clean, simple, and beautiful.

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/gooyand.js")
    script(type="text/javascript").
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49619606-1', 'gooyand.com');
      ga('send', 'pageview');
